<div class="container-fluid">
    <div class="container">
        <div class="card" *ngFor="let post of posts" style="width: 100%">
            <div class="card-body">
                <div class="cardImg" >
                    <img src="../../../../assets/image.jpg">
                </div>
                <div class="cardInfo" >
                    <h5 class="card-title">
                        <button routerLink="/details" style="background-color: transparent;border: none;outline: none;color: #ffffff;">
                            Card title
                        </button>
                     </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
                <div class="clear"></div>
              
            </div>
        </div>
    </div>
</div>