<div class="container-fluid" >
    <div class="container" style="position: relative;">
        <form [formGroup]="loginForm">
            <div class="cancel" routerLink="" style="outline: none;cursor: pointer;position: absolute;right: -38px;top: -35px;width: 30px;height: 30px;border-radius: 50px;border: 1px solid #fff;">
                <img  routerLink="" style="outline: none;padding: 3px;padding-left: 6px;width: 24px;filter: invert(95%) sepia(90%) saturate(7093%) hue-rotate(188deg) brightness(120%) contrast(107%);" src="../../../assets/images/close.svg">
            </div>
            <!-- <img style="display: block;margin: auto;" src="../../../assets/images/Images/Logo.png"> -->
            <hr/>
            <div class="form-group">
                <label >Email</label>
                <input type="text" id="field" formControlName="email"  class="form-control" placeholder="Enter Email">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>
              <div class="form-group"  style="position: relative;" >
                <label >Password</label>
                <input id="myInput" formControlName="password" type="password" class="form-control"  placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
                <button (click)="showPassword()" style="background-color: transparent;border: none;">
                    <img id="show" style="display: none;" src="../../../assets/images/eye.svg">
                    <img id="hide" src="../../../assets/images/visibility.svg">
                </button>
                </div>
                <!-- <div class="form-check">
                    <input class="input" (change)="keepLogged($event)" style="height: unset;margin-left: 10px;" id="toggle1" type="checkbox" >
                    <label class="label" for="toggle1" style="color: #9c9da1;font-size: 1.1em;">البقاء متصلا؟</label>
                  </div> -->
                  <!-- <div style="margin-top: 10px;outline: none;cursor: pointer;" routerLink="/userControls/forgetPassword">
                      <p style="color: #9c9da1;font-size: 1.1em;">هل نسيت كلمة المرور؟</p>
                </div> -->
                <div style="text-align: center;margin-top: 30px;outline: none;cursor: pointer;">
                <button (click)="logIn()" style="font-size:1em;height: 55px; border: none;background-color: #283b8f;color: #fff; width: 100%;border-radius: 3px;">login</button>
            </div>
            <!-- <div style="text-align: center;margin-top: 10px;">
                <p style="color: #9c9da1;font-size: 1.1em;">لا تملك حسابا؟ <span style="font-size: 1.1em;color: #283b8f;cursor: pointer;outline: none;" routerLink="/userControls/signUp">سجل وانضم لمنصات.</span></p>
            </div> -->
        </form>
    </div>
</div>